{%extends 'layout.html'%} {%block title %}UPLOAD PROFILE IMAGE{%endblock%}
{%block content%}
<div class="profile-image-main">
  <div class="profile-image-form">
    <form
      action="{{doc_root}}/pages/member/upload-profile-image.php"
      enctype="multipart/form-data"
      method="POST"
    >
      <div class="image-container empty-image-container">
        <input
          type="file"
          id="image"
          name="image"
          accept="image/png image/jpg image/jpeg"
        />
      </div>
      <p class="error-message">{{errors.image_path}}</p>
      <input type="submit" value="Save Image" class="create-button" />
    </form>
  </div>
</div>
{%endblock%}
